/.env.local
/.env.local.php
/.env.*.local

/config/secrets/prod/prod.decrypt.private.php
/public/bundles
/var
/vendor

*.js
*.d.ts
*.d.ts.map

.git
.gitmodules

.DS_Store
Thumbs.db


###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
